<%= error_messages_for 'Svnadmins' %>
<div class="box">
<p><%= f.text_field :reponame, :required => true, :size => 40 %></p>
<p><%= f.text_area :description, :rows => 5, :cols => 60, :required => true %></p>
</div>
