<h2>Feedback Reports</h2>

<p><b>Download you feedback from the below link</b><br><br>

<a href="http://virtual-labs.ac.in/feedback-report/" target="_blank"><b><%= @project.name %> Lab Feedback</b></a></p>
